<h1>Contact Index</h1>
<div class="row">
<% @contacts.each do |contact| %>
<div class="col-md-4">
<div class="well>"
<h3><%= contact.full_name %></h3>
<h4><%= contact.phone_number %></h4>
<br>
<a href="/contacts/<%= contact.id %>">More about this person</a>
<br>
<br>
</div>
</div>
<% end %>
</div>
<br>
<br>
<a href="/contacts/new">Want to add another contact?</a>

